@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap');

:root {
    --bgPrimaryColor: #dbd8e3;
    --btnColor: #3a4750;

    --primaryTextColor: #222831;
    --secondaryTextColor: #eeeeee;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
    background-color: var(--bgPrimaryColor);
}

.heading {
    margin: 50px;
}

.heading h1 {
    font-size: 3em;
    font-weight: 300;
    text-align: center;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-left: 10%;
}

.recipe-item {
    border: none;
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    width: 80%;
    padding: 20px;
    text-align: center;
}

.recipe-item a {
    text-decoration: none;
    color: var(--primaryTextColor);
    font-weight: 300;
    font-size: 1.4em;
}

.recipe-item a:hover {
    color: var(--btnColor);
}

.recipe-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 4px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.return_btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}

.return_btn p {
    margin: 0;
    border: none;
    border-radius: 3px;
    padding: 10px 7px;
    background-color: var(--btnColor);
    transition: box-shadow 0.3s ease;
}

.return_btn a {
    text-decoration: none;
    color: var(--secondaryTextColor);
}

.return_btn p:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}