@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap');

:root {
    --bgPrimaryColor: #dbd8e3;
    --bgSecondaryColor: #e6dedd;
    --btnColor: #3a4750;

    --primaryTextColor: #222831;
    --secondaryTextColor: #eeeeee;
}

body {
    font-family: 'Raleway';
    background-color: var(--bgPrimaryColor);
    color: var(--secondaryTextColor);
}

.details-card {
    border: none;
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    padding: 30px;
    max-width: 600px;
    margin: 80px auto;
    color: var(--btnColor);
}

.details-card h2 {
    font-size: 2.3em;
    font-weight: 300;
    margin: 10px;
    text-align: center;
}

.detail {
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.8em;
}

.detail b {
    font-weight: 400;
    text-decoration: underline;
}

.details-card img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.return_btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}

.return_btn p {
    border: none;
    border-radius: 3px;
    padding: 14px 10px;
    background-color: var(--btnColor);
    transition: box-shadow 0.3s ease;
}

.return_btn a {
    text-decoration: none;
    color: var(--secondaryTextColor);
}

.return_btn p:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}