@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap');

:root {
    --bgPrimaryColor: #dbd8e3;
    --btnColor: #3a4750;

    --primaryTextColor: #222831;
    --secondaryTextColor: #eeeeee;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
    background-color: var(--bgPrimaryColor);
}

h1 {
    font-size: 2.6em;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
}

.about-me-container {
    border: none;
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    padding: 30px;
    max-width: 600px;
    margin: 80px auto;
    color: var(--btnColor);
}

.about-me-container p {
    font-size: 1.2em;
    line-height: 1.5em;
}

.about-me-container p span {
    color: var(--primaryTextColor);
    text-decoration: underline;
}

.links {
    background-color: var(--btnColor);
    color: var(--secondaryTextColor);
    margin: 30px;
    text-align: center;
}

.links p {
    padding: 10px;
}

.links a {
    color: var(--secondaryTextColor)
}