@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap');

:root {
    --bgPrimaryColor: #dbd8e3;
    --btnColor: #3a4750;

    --primaryTextColor: #222831;
    --secondaryTextColor: #eeeeee;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
    background-color: var(--bgPrimaryColor);
}

h1 {
    font-size: 3em;
    font-weight: 400;
    margin-left: 20px;
    color: var(--primaryTextColor)
}

.email {
    font-size: 1.1em;
    font-weight: 300;
    width: 20%;
    margin-left: 20px;
}

.email p {
    background-color: var(--secondaryTextColor);
    color: var(--primaryTextColor);
    text-align: center;
    border: none;
    border-radius: 8px;
    padding: 10px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

input[type=text] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

.search-btn {
    border: none;
    border-radius: 3px;
    padding: 10px 7px;
    background-color: var(--btnColor);
    transition: box-shadow 0.3s ease;
    color: var(--secondaryTextColor);
    font-size: .9em;
}

.search-btn:hover {
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}

.buttons p {
    border: none;
    border-radius: 3px;
    padding: 10px 7px;
    background-color: var(--btnColor)
}

.buttons a {
    text-decoration: none;
    color: var(--secondaryTextColor);
}